html {
	box-sizing: border-box;
	font-size: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background: rgba(#FFF, 1);
  margin: 0;
  padding: 0;
  color: rgba(#000, 0.9);
  font: 1rem/1.5 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	position: relative;
}

$card-border-radius: 2px;

.theme {
	background: rgba(#FFFFFF, 1);
	padding: 1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	h1 {
		display: none;
		margin: 0 0 2rem;
		padding: 0;
		color: rgba(#000000, 0.90);
		flex: 0 0 100%;
	}

	&__group {
		background: rgba(#000000, 0.05);
		margin: 0 0 0 0;
		padding: 2rem 2rem 0;
		flex: 0 0 100%;

		&__inner {
			max-width: calc(70rem + 2rem);
			margin: 0 auto;
		}

		h2 {
			margin: 0;
			padding: 0;
			font-size: 0.875rem;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	&__actions {
		background: rgba(#000000, 0.05);
		margin: 0 0 0 0;
		padding: 2rem 2rem 0;
		flex: 0 0 100%;

		&__inner {
			max-width: calc(70rem + 2rem);
			margin: 0 auto;
		}
	}

	& > *:first-child {
		border-radius: $card-border-radius $card-border-radius 0 0;
	}

	& > *:last-child {
		padding-bottom: 1rem;
		border-radius: 0 0 $card-border-radius $card-border-radius;
	}
}

$primary-color-1: #B10DC9;
$primary-color-2: #F012BE;

.actions {
	list-style: none outside none;
	margin: 2rem auto 0;
	padding: 0;
	display: flex;
	justify-content: center;

	&__action {
		margin: 0 1rem 1rem 0;

		& button {
			display: inline-block;
			border: none;
			border-radius: 4px;
			background: linear-gradient(45deg, $primary-color-1 0%, $primary-color-2 100%);
			text-transform: uppercase;
			padding: 1rem 2rem;
			color: #FFF;
			font: 1rem/1.5 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
			transition: background 1s linear;
		  position: relative;
		  z-index: 100;

			&:before {
		    border-radius: inherit;
		    background-image: linear-gradient(15deg, mix($primary-color-2, #000, 90%) 0%, mix($primary-color-1, #000, 90%) 100%);
		    content: '';
		    display: block;
		    height: 100%;
		    position: absolute;
		    top: 0; left: 0;
		    opacity: 0;
		    width: 100%;
		    z-index: -100;
    		transition: opacity 0.5s;
		  }

			&:hover {
		    &:before {
					transition: opacity 0.15s;
		      opacity: 1;
		    }
		  }
		}
	}
}

.filters_container {
	margin: 0 1rem;
	padding: 1rem 0;
	border-top: 1px solid rgba(#000000, 0.10);
	border-bottom: 1px solid rgba(#000000, 0.10);
}

.filters {
	list-style: none outside none;
	max-width: calc(70rem + 2rem);
	width: 100%;
	display: flex;
	margin: 0 auto;
	padding: 0;
	justify-content: flex-end;

	&__filter {
		color: rgba(#000000, 0.60);
		text-transform: uppercase;
		font-size: 0.875rem;
		line-height: 1.5;

		input {
			display: none;

			& + span {
				padding: 0.5rem 1rem;
				border-radius: 4px;
			}

			&:checked + span {
				background: rgba(#000000, 0.40);
			 	color: #FFFFFF;
			}
		}
	}
}

.input_swatches {
	display: flex;
	flex-flow: row wrap;
	list-style: none outside none;
	margin: 1rem 0 0;
	padding: 0;
	justify-content: flex-start;

	$swatches-per-row: 5;

	&__swatch {
		flex: 0 0 calc((100% - ((#{$swatches-per-row} - 1) * 1rem)) / #{$swatches-per-row});
		margin: 0 1rem 1rem 0;

		&:nth-child(#{$swatches-per-row}n + #{$swatches-per-row}) {
			margin-right: 0;
		}

		label {
			font-size: 0.875rem;
			color: rgba(#000000, 0.6);
			display: inline-block;
			width: 100%;
			margin: 0 0 0.25rem;
		}

		input {
			font: bold 1rem/1.5 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
			color: rgba(#000000, 0.90);
			width: 100%;
			padding: 1rem 1rem;
			border: none;
		}
	}
}

.combinations {
	max-width: calc(70rem + 2rem);
	margin: 0 auto;
	padding: 2rem 0;

	h2 {
		margin: 0;
		font-size: 1rem;
		opacity: 0.7;
	}
}

.preview {
	position: relative;

	&__base {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0.5em;
		z-index: 1;
	}

	/* Text on preview styling */
	/*&__element {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0.5rem;
		z-index: 2;
		padding: 1.5rem 1rem;
		font-size: 0.875rem;

		p {

			label {
				font-size: 0.75rem;
			}

			margin: 0;
		}

		p + p {
			margin-top: 1rem;
		}
	}*/

	&__element {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0.5rem;
		z-index: 2;
	}

	&__inner_element {
		position: absolute;
		display: block;
		width: 50%; height: 50%;
		left: 50%; top: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.combination {
	background: #FFF;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	border-bottom: 1px solid rgba(#000, 0.05);
	position: relative;
	padding: 0.5rem 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

	&:first-child {
		border-radius: $card-border-radius $card-border-radius 0 0;
	}

	&:last-child {
		border-radius: 0 0 $card-border-radius $card-border-radius;
		border-bottom: none;
	}

	&__preview {
		flex: 0 0 10rem;
		height: 10rem;
	}

	&__colors {
		flex: 1 1 1rem;
		margin: 0.5rem 0;
		padding: 0 1rem 0;
		border-right: 1px solid rgba(#000, 0.05);
		align-self: stretch;
	}

	&__contrast {
		flex: 0 0 10rem;
		align-self: stretch;
		margin: 0.5rem 0;
		border-right: 1px solid rgba(#000, 0.05);
		padding: 0.5rem 1rem;
	}

	&__compliance_overview {
		flex: 0 0 calc(14rem + 3px);
		padding: 0.5rem 1rem;
		margin: 0.5rem 0;
		align-items: center;
	}
}

.contrast {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	&__title {
		font-size: 0.75rem;
		color: rgba(#000, 0.6);
		font-weight: normal;
		margin: 0 0 0.5rem;
		padding: 0;
	}

	&__value {
		font-size: 0.875rem;
	}
}

.color_list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	&__title {
		font-size: 0.75rem;
		color: rgba(#000, 0.6);
		font-weight: normal;
		margin: 0 0 0.5rem;
		padding: 0;
	}

	&__colors {
		margin: 0.5rem 0 0;
		padding: 0;
		width: 100%;
	}
}

.colors {
	list-style: none outside none;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	&__color {
		flex: 0 0 auto;
	}
}

.color {
	background: rgba(#000, 0.05);
	border-radius: 1rem;
	height: 2rem;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;

	&__swatch {
		float: left;
		height: 1.5rem;
		width: 1.5rem;
		border-radius: 50%;
		margin: 0.25rem 0.5rem 0.25rem 0.25rem;
	}

	&__description {
		float: left;
		padding: 0.25rem 1rem 0.25rem 0;
	}

		&__label {
			float: left;
			font-size: 0.625rem;
			color: rgba(#000, 0.6);
			line-height: 0.75rem;
		}

		&__value {
			float: left;
			clear: both;
			font-size: 0.75rem;
			line-height: 0.75rem;
		}

	&:last-child {
		margin-right: 0;
	}
}

.compliance_overview {
	list-style: none outside none;
	display: flex;

	&__element {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		flex: 0 0 calc(50% - 0.5px);
		margin-right: 1px;

		&:last-child {
			margin-right: 0;
		}

		& .level {

		}

		& .threshold {
			color: rgba(#000, 0.6);
			font-size: 0.75rem;
		}

		&--passed {
			background: #77BC1F;

			.level {
				color: #FFF;
			}

			.threshold {
				color: rgba(#FFF, 0.8);
			}
		}
	}
}
