html {
	box-sizing: border-box;
	font-size: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background: rgba(#000, 0.05);
  margin: 0;
  padding: 0;
  color: rgba(#000, 0.9);
  font: 1rem/1.5 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	position: relative;
}

.backdrop {
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1;
	position: absolute;
}

$card-border-radius: 2px;

.combinations {
	max-width: calc(70rem + 2rem);
	padding: 4rem 0;
	margin: 0 auto;
	border-radius: $card-border-radius;
	z-index: 2;
	position: relative;
}

.preview {
	position: relative;

	&__base {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 1rem;
		z-index: 1;
	}

	&__element {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 1rem;
		z-index: 2;
		padding: 1.5rem 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.875rem;
		text-align: center;
	}
}

.combination {
	background: #FFF;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	border-bottom: 1px solid rgba(#000, 0.05);
	position: relative;
	padding: 0.5rem 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transform-origin: 50% 50%;
	$t-dur: 0.25s;
	$t-ease: cubic-bezier(0.77, 0, 0.175, 1);
	transition: width $t-dur $t-ease,
							transform $t-dur $t-ease,
							box-shadow $t-dur $t-ease,
							margin-top $t-dur $t-ease ($t-dur / 2),
							margin-bottom $t-dur $t-ease ($t-dur / 2);

	&--selected {
		width: calc(100% + 2rem);
		transform: translate3d(-1rem, 0, 0);
		z-index: 90;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}


	&--before {
		transform: translate3d(0, -2rem, 0);
	}
	&--after {
		transform: translate3d(0, 2rem, 0);
	}

	&:first-child {
		border-radius: $card-border-radius $card-border-radius 0 0;
	}

	&:last-child {
		border-radius: 0 0 $card-border-radius $card-border-radius;
		border-bottom: none;
	}

	&__preview {
		flex: 0 0 15rem;
	}

	&__colors {
		flex: 1 1 1rem;
		margin: 0.5rem 0;
		padding: 0 1rem 0;
		border-right: 1px solid rgba(#000, 0.05);
		align-self: stretch;
	}

	&__contrast {
		flex: 0 0 10rem;
		align-self: stretch;
		margin: 1rem 0;
		border-right: 1px solid rgba(#000, 0.05);
		padding: 0.5rem 1rem;
	}

	&__compliance_overview {
		flex: 0 0 calc(14rem + 3px);
		padding: 0.5rem 1rem;
		margin: 1rem 0;
		align-items: center;
	}
}

.legend {
	width: 100%;
	background: #4F5464;
	position: fixed;
	height: 3rem;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
	top: 0;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
							0 6px 6px rgba(0, 0, 0, 0.23);
	z-index: 99;

	&__inner {
		box-shadow: none;
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex: 0 1 calc(70rem + 2rem);
		flex-flow: row nowrap;
		list-style: none outside none;
		font-size: 0.875rem;
		color: rgba(#fff, 0.6);
		padding-bottom: 0.5rem;
	}


	&__label {
		&--preview {
			flex: 0 0 15rem;
			padding-left: 0.5rem;
		}

		&--original_colors,
		&--flattened_colors {
			flex: 1 1 1rem;
			padding-left: 1rem;
		}

		&--contrast {
			flex: 0 0 10rem;
			padding-left: 0;
			text-align: center;
		}

		&--compliance_small_aa,
		&--compliance_small_aaa,
		&--compliance_large_aa,
		&--compliance_large_aaa {
			flex: 0 0 3rem;
			margin-right: 1px;
			text-align: center;
			padding-left: 0;
		}

		&--compliance_small_aa {
			margin-left: 1rem;
		}

		&--compliance_large_aaa {
			margin-right: 1rem;
		}
	}
}

.contrast {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	&__title {
		font-size: 0.75rem;
		color: rgba(#000, 0.6);
		font-weight: normal;
		margin: 0 0 0.5rem;
		padding: 0;
	}

	&__value {
		font-size: 0.875rem;
	}
}

.color_list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	&__title {
		font-size: 0.75rem;
		color: rgba(#000, 0.6);
		font-weight: normal;
		margin: 0 0 0.5rem;
		padding: 0;
	}

	&__colors {
		margin: 0.5rem 0 0;
		padding: 0;
		width: 100%;
	}
}

.colors {
	list-style: none outside none;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	&__color {
		flex: 0 0 auto;
	}
}

.color {
	background: rgba(#000, 0.05);
	border-radius: 1rem;
	height: 2rem;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;

	&__swatch {
		float: left;
		height: 1.5rem;
		width: 1.5rem;
		border-radius: 50%;
		margin: 0.25rem 0.5rem 0.25rem 0.25rem;
	}

	&__description {
		float: left;
		padding: 0.25rem 1rem 0.25rem 0;
	}

		&__label {
			float: left;
			font-size: 0.625rem;
			color: rgba(#000, 0.6);
			line-height: 0.75rem;
		}

		&__value {
			float: left;
			clear: both;
			font-size: 0.75rem;
			line-height: 0.75rem;
		}

	&:last-child {
		margin-right: 0;
	}
}

.compliance_overview {
	list-style: none outside none;
	display: flex;

	&__element {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		flex: 0 0 3rem;
		margin-right: 1px;

		&:last-child {
			margin-right: 0;
		}

		& .level {

		}

		& .threshold {
			color: rgba(#000, 0.6);
			font-size: 0.75rem;
		}

		&--passed {
			background: #77BC1F;

			.level {
				color: #FFF;
			}

			.threshold {
				color: rgba(#FFF, 0.8);
			}
		}
	}
}
